
table {
    font-family: sans-serif;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: whitesmoke;
    color: dimgrey;
    border: 16px solid mediumseagreen;
    border-radius: 20px;
}

th {
    font-size: 25px;
    padding: 10px;
}

td {
    background: skyblue;
    padding: 10px;
}

